/* ------------------------------------------------------------------ */
/*        TYPOGRAPHY
/* ------------------------------------------------------------------ */

/* Put in here your placeholders for typography */

/* ------------------------------------------------------------------ */
/*        FONTS
/* ------------------------------------------------------------------ */

/*
%yourfont {
    font-family:'yourfontfamily',Arial,sans-serif;
}
*/

/* ------------------------------------------------------------------ */
/*        HEADINGS
/* ------------------------------------------------------------------ */

%heading-1 {}

%heading-2 {}

%heading-3 {}

%heading-4 {}

%heading-5 {}

%heading-6 {}

/* ------------------------------------------------------------------ */
/*        TEASINGS
/* ------------------------------------------------------------------ */

%teasing-1 {

}

/* ------------------------------------------------------------------ */
/*        UTILS
/* ------------------------------------------------------------------ */

%bold {
    font-weight:bold;
}

%upper {
    text-transform:uppercase;
}

%link-transition {
    transition:color 200ms ease, background 200ms ease, border-color 200ms ease;
}
