/* Extends */

%SourceSansLight {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

%SourceSansRegular {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

%SourceSansSemiBold {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

%SourceSansBold {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

/* Headings */

.heading-1 {
    @extend %SourceSansSemiBold;
    font-size: pxToRem(40px);
    line-height: pxToRem(45px);
}

/* Teasings */

.teasing-1 {

}
