.boilerplate
	max-width pxToRem(500px)
	margin pxToRem(40px) auto
	font-size pxToRem(20px)
	
	h1
		font-size pxToRem(40px)
		margin-bottom pxToRem(35px)
		
	h2
		display inline-block
		font-size pxToRem(28px)
		margin pxToRem(20px) 0
		border-bottom 1px solid black
	
	p
	ol
		margin-bottom pxToRem(15px)
		line-height pxToRem(26px)
		
	li + li
		margin-top pxToRem(5px)
		
	em
		color salmon
		
	strong
		color blue