/*------------------------------------*\
    PROJECT VARIABLES
\*------------------------------------*/
$base-font-size:16px;
$base-line-height:28px;

// Declare your colors
$font-color: #535353;
$white-color:#fff;
$black-color:#000;
$border-color:#d4d3ce;
$test-color:#00ff00;
$test-2-color:#ff0000;


// Rewrite your colors to generate the ui colors list
$ui-name:
    '$font-color'
    '$white-color'
    '$black-color'
    '$border-color'
    '$test-color'
    '$test-2-color';

$ui-hex:
    $font-color
    $white-color
    $black-color
    $border-color
    $test-color
    $test-2-color;




