/*
 * Media Object
 * ============
 *
 * The media object describes a content block containing
 * a fixed-size media element (e.g. image or video)
 * along with other variable-size content (e.g. text).
 *
 *      <div class="md">
 *          <a href="#" class="img">
 *              <img src="path/to/my/picture.jpg" alt="me" />
 *          </a>
 *          <div class="bd">
 *              This is a media object.
 *          </div>
 *      </div>
 */
// .md{
//     @include media-object(20px, left, 'table-cell', '.img', '.bd');
//     &.md-10 .img{margin-right:10px;}
//     .img-rev{float:right;margin-left:20px;margin-right:auto;}
//     display:block;
// }
