.border-transition {
    transition: border-color 200ms ease;
}

.opacity-transition {
    transition: opacity 200ms ease;
}

.background-transition {
    transition: background-color 200ms ease;
}

.width-transition {
    transition: width 200ms ease;
}

.top-transition {
    transition: top 200ms ease;
}

.all-transition {
    transition: all 120ms ease;
}

.right-transition {
    transition: right 120ms ease;
}

.bottom-transition {
    transition: bottom 100ms ease;
}

.transform-transition {
    transition: transform 100ms ease;
}


